@media screen and (min-width: 1024px) {
    .proyectos {
        grid-template-areas: "principal secundario"
            "principal terciario";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .proyectos article:nth-child(1) {
        grid-area: principal;
    }

    .proyectos article:nth-child(2) {
        grid-area: secundario;
    }

    .proyectos article:nth-child(3) {
        grid-area: terciario;
    }
}


.circle {
    width: 197px;
    height: 197px;  
    border-radius: 100%;
    z-index: 0;
    top: -120px;
    right: -150px;
}

@media screen and (min-width: 1024px) {
    .circle {
        width: 240px;
        height: 240px; 
        right: unset; 
        top: -10px;
        left: -25px;
    }
}

@media screen and (min-width: 1280px) {
    .circle { 
        top: -45px;
        left: -150px;
        
    }
}